<h1>Edit your account</h1>

<form action="/user/<%= user['id'] %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label>Username:</label>
    <input type="text" name="username" value="<%= user['username'] %>">

    <label>Email:</label>
    <input type="email" name="email" value="<%= user['email'] %>">

    <button>Update</button>
</form>