<h1>Enter hole information for <%= course['name'] %></h1>

<form action="/holes" method="post">
    <input type="hidden" name="course_id" value="<%= course['id'] %>">

    <% 18.times do |i| %>
    <label>Hole <%= i + 1 %> Par:</label>
    <input type="number" name="hole_<%= i + 1 %>_par">
    <br>
    <% end %>
    <button>submit</button>
</form>