<h1>hello world</h1>

<p>Is someone logged in: <%= logged_in? %></p>

<% if logged_in? %>
    <p>yes it is: <%= current_user_details['username'] %></p>

<% end %>

<form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
</form>