<h1>Login to account</h1>

<form action="/session" method="post">
    <label>Email:</label>
    <input type="email" name="email">

    <label>Password:</label>
    <input type="password" name="password">

    <button>Login</button>
</form>

<p>Don't have account? <a href="/user/new">Signup here.</a></p>