<h1>Sign up for account</h1>

<form action="/user" method="post">
    <label>Username:</label>
    <input type="text" name="username">

    <label>Email:</label>
    <input type="email" name="email">

    <label>Password:</label>
    <input type="password" name="password">

    <button class="btn">Create account</button>
</form>

<p>Already have account? <a href="/session/new">Login here.</a></p>