<section class="form-grid">
    <h1>Sign up for account</h1>

    <form class="form-grid-form" action="/user" method="post">
        <input type="text" placeholder="enter username" name="username">

        <input type="email" placeholder="enter email" name="email">

        <input type="password" placeholder="enter password" name="password">

        <button class="btn">Create account</button>
    </form>

    <p>Already have account? <a href="/session/new">Login here.</a></p>
</section>
