<section class="center-with-grid">
    <h1>Start round</h1>
    <p>Play a course again or a new course to start round.</p>
</section>

<section class="form-grid center-with-grid">
    <h2>Play course again</h2>

    <form class="form-grid-form" action="/round" method="post">
        <select name="course_id">
        <%courses.each do |course| %>
            <option value="<%= course['id']%>"><%= course['name']%></option>
        <% end %>
        </select>
        <button class="btn">start</button>
    </form>   
</section>

<section class="form-grid">
    <h2>Play new course</h2>
    <form class="form-grid-form" action="/course" method="post">
        <input type="text" placeholder="enter course name" name="course_name">

        <input type="text" placeholder="enter course par" name="course_par">

        <input type="text" placeholder="enter number of holes" name="num_holes">

        <button class="btn">Start</button>
    </form>
</section>