<h1><%= user['username'] %>'s profile</h1>

<form action="/user/<%= user['id'] %>/edit">
    <button>Edit account</button>
</form>

<form action="/user/<%= user['id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete account</button>
</form>